{
    admin :2020
    email acme@hilde.email
}

ts673a.local, *.ts673a.local {
    tls internal

    @filebot host filebot.ts673a.local
    handle @filebot {
        reverse_proxy filebot:5800 {
            header_up X-Real-IP {remote_host}
        }
    }

    @freshrss host freshrss.ts673a.local
    handle @freshrss {
        reverse_proxy freshrss:80 {
            header_up X-Real-IP {remote_host}
        }
    }

    @homepage host ts673a.local
    handle @homepage {
        reverse_proxy homepage:3000 {
            header_up X-Real-IP {remote_host}
        }
    }

    @jdownloader host jdownloader.ts673a.local
    handle @jdownloader {
        reverse_proxy gluetun:5800 {
            header_up X-Real-IP {remote_host}
        }
    }

    @portainer host portainer.ts673a.local
    handle @portainer {
        reverse_proxy portainer:9000 {
            header_up X-Real-IP {remote_host}
        }
    }

    @tautulli host tautulli.ts673a.local
    handle @tautulli {
        reverse_proxy tautulli:8181 {
            header_up X-Real-IP {remote_host}
        }
    }

    @transmission host transmission.ts673a.local
    handle @transmission {
        reverse_proxy gluetun:9091 {
            header_up X-Real-IP {remote_host}
        }
    }
}

hilde.network, *.hilde.network {
    tls {
        dns cloudflare 2gcmwee2I-yhZ1SFI3wK-s6IHgiqL_INo5aVhmgR
        resolvers 1.1.1.1
    }

    @bitwarden host password.hilde.network
    handle @bitwarden {
        reverse_proxy bitwarden:8080 {
            header_up X-Real-IP {remote_host}
        }
    }

    @filebrowser host files.hilde.network
    handle @filebrowser {
        reverse_proxy filebrowser:80
    }
}
