{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 51.22744392129414,
    "longitude": 9.312616288661959,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Berlin",
    "external_url": "https://home.hilde.network",
    "internal_url": null,
    "currency": "EUR",
    "country": "DE",
    "language": "en",
    "radius": 100
  }
}